.header{
    text-align: center;
    color:#1f2937;
    margin: 3rem 0 3rem;;
}
.header h1{
    font-size:5rem;
    font-weight: 800;
    line-height: 7rem;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.header p{
    font-size:2rem;
    font-weight: 800;
    color:#4b5563;
    font-family:"Comic Sans MS", cursive, sans-serif;
}
.productList {
    font-family:"Comic Sans MS", cursive, sans-serif;;
    margin:2rem;
    display:grid;
    gap:1rem;
    justify-content:center;
}
.productItem{
    margin:20px;
    box-shadow:5px 5px 5px 5px;
    border-radius:2rem;
    min-width:28rem;
    display:flex;
    align-items: center;
    justify-content: left;
}
.productItemContents{
    display: inline-flex;
}
.productItem img{
    width:10rem;
    height:11rem;
    margin-left:2rem;
    margin-right: 2rem;
}

.productItem button{
    border:none;
    padding: 0.5rem 3rem;
    border-radius: 2px;
    background-color: #3b82f6;
    color:white;
    font-size: 1rem;
    margin: 1rem 0 0;
}

.name{
    line-height:1.4rem;
    margin-bottom:0.5rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1px;
    color:#000000;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.price{
    font-size:1.4rem;
    margin-top:0.6rem;
    color:#000000;
    font-weight: 100;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

.description{
    margin-right: 2rem;
    line-height:1.2rem;
    color:#000000;
    font: size 16px;
    font-family:"Comic Sans MS", cursive, sans-serif;
}